{% if proxy_ip is defined and http_proxy_port is defined %}
export HTTP_PROXY=http://{{proxy_ip}}:{{http_proxy_port}}/
export HTTPS_PROXY=http://{% if proxy_address_type is defined and proxy_address_type == ipv6 %}[{{proxy_ip}}]{% else %}{{proxy_ip}}{% endif %}:{{http_proxy_port}}/
{% endif %}
