
Host {{ ct_name.lower() }}
    Hostname {% if ssh_ip is defined and ssh_ip %}{{ ssh_ip }}{% elif ct_prefix6 is defined %}{{ ct_prefix6 }}::{{ ct_vmid }}{% else %} {{ ct_prefix4 }}.{{ ct_vmid }}{% endif %}

    User root
    {% if node_bastion is defined %}ProxyJump {{ node_bastion }}{% endif %}
